" ESC 按键映射
imap jj <esc>
imap kk <esc>

" 设置Leader为空格键
let mapleader=" "

" vim 与系统共用剪切板
set clipboard+=unnamedplus
set clipboard+=ideaput

" 设置 '-' 也是单词的一部分
set iskeyword+=-

" 通用配置
set nu
set relativenumber
set incsearch
set showcmd
set ic
set hls
set vb t_vb=

" 开启 NERDTree 插件
set NERDTree
let g:NERDTreeMapJumpRoot = 'gg'
let g:NERDTreeMapJumpLastChild = 'G'
let g:NERDTreeMapPreview = 'u'
let g:NERDTreeMapPreviewSplit = ''
let g:NERDTreeMapPreviewVSplit = ''

" 启用 EasyMotion
set easymotion
let g:EasyMotion_do_mapping=0

" vim 设置自动滚动上下限
set scrolloff=5

" 兼容 vim 和 idea 之间的跳转差异
nmap <C-i> <Action>(Forward)
nmap <C-o> <Action>(Back)

" vim 通用按键映射
nmap <leader>f  <Action>(ActivateProjectToolWindow)

" 缓冲区设置
nmap <leader>bb :b#<CR>
nmap <leader>bn :bn<CR>
nmap <leader>bp :bp<CR>
nmap <leader>bd :bd<CR>
nmap <leader>bl <Action>(RecentFiles)

" 窗口跳转
nmap <leader>w <C-w>

" debug 按键映射
nmap <leader>dr <Action>(Run)
nmap <leader>db <Action>(ToggleLineBreakpoint)
nmap <leader>dd <Action>(Debug)
nmap <leader>dn <Action>(StepOver)
nmap <leader>di <Action>(StepInto)
nmap <leader>do <Action>(StepOut)
nmap <leader>ds <Action>(Stop)
nmap <leader>dc <Action>(CompileProject)
nmap <leader>dp <Action>(BuildSolutionAction)

" idea 特殊配置
nmap <leader>;; <Action>(MainMenu)
nmap <leader>;s <Action>(SearchEverywhere)
xmap <leader>;s <Action>(SearchEverywhere)
nmap <leader>;a <Action>(Annotate)
nmap <leader>;e <Action>(RecentFiles)
nmap <leader>;f <Action>(ReformatCode)
xmap <leader>;f <Action>(ReformatCode)
nmap <leader>;c <Action>(CommentByLineComment)
xmap <leader>;c <Action>(CommentByLineComment)
nmap <leader>;q <Action>(CloseProject)
nmap <leader>;r <Action>(RenameElement)

" 跳转命令
nmap <silent> gi <Action>(GotoImplementation)
nmap <silent> go <Action>(OverrideMethods)
nmap <silent> gp <Action>(GotoSuperMethod)
nmap <silent> gt <Action>(GotoNextError)
nmap <silent> gr <Action>(ShowErrorDescription)
nmap <silent> gu <Action>(GotoDeclaration)
nmap <silent> gh <Action>(QuickJavaDoc)

nmap <silent> [g <Action>(GotoPreviousError)
nmap <silent> ]g <Action>(GotoNextError)

" 版本控制
nmap <leader>vv <Action>(Vcs.QuickListPopupAction)
nmap <leader>vc <Action>(Vcs.QuickListPopupAction)
nmap <leader>vu <Action>(Vcs.UpdateProject)
nmap <leader>vs <Action>(Vcs.Push)
nmap <leader>vr <Action>(Vcs.RollbackChangedLines)
nmap <leader>vp <Action>(VcsShowPrevChangeMarker)
nmap [c <Action>(VcsShowPrevChangeMarker)
nmap <leader>vn <Action>(VcsShowNextChangeMarker)
nmap ]c <Action>(VcsShowNextChangeMarker)
nmap <leader>vl <Action>(Vcs.Show.Log)

" 错误相关
" 快速修复
nmap <leader>ef <Action>(ShowIntentionActions)

" 设置
nmap <leader>,, <Action>(ShowSettings)
nmap <leader>,h :nohls<CR>
nmap <leader>,i :set ic!<CR>

" 设置 EasyMotion 启动快捷键
nmap <leader><leader>s <Plug>(easymotion-s)

" 文件内搜索扩展
xnoremap * y/<C-R>0<CR>
xnoremap / y/<C-R>0<CR>
xnoremap # y?<C-R>0<CR>

" 复制一行，但是光标不变
nnoremap <C-j> maYp`a:delm a<CR>j 
nnoremap <C-k> kmajdd`a:delm a<CR>

" idea 和 vim 的按键绑定
sethandler <C-S-2> a:vim
sethandler <C-S-6> a:vim
sethandler <C-A> a:vim
sethandler <C-B> a:vim
sethandler <C-C> a:vim
sethandler <C-D> a:vim
sethandler <C-E> a:vim
sethandler <C-F> a:vim
sethandler <C-G> a:vim
sethandler <C-H> a:vim
sethandler <C-I> a:vim
sethandler <C-J> a:vim
sethandler <C-K> a:vim
sethandler <C-L> a:vim
sethandler <C-M> a:vim
sethandler <C-N> a:vim
sethandler <C-O> a:vim
sethandler <C-P> a:vim
sethandler <C-Q> a:vim
sethandler <C-R> a:vim
sethandler <C-S> a:vim
sethandler <C-T> a:vim
sethandler <C-U> a:vim
sethandler <C-V> a:vim
sethandler <C-W> a:vim
sethandler <C-X> a:vim
sethandler <C-Y> a:vim
sethandler <C-[> a:vim
sethandler <C-]> a:vim
