[Unit]
Description=AutoSSH tunnel to public server (user service)
After=network.target

[Service]
ExecStart=/usr/bin/autossh -M 2223 \
    -o "StrictHostKeyChecking=no" \
    -o "UserKnownHostsFile=/dev/null" \
    -o "TCPKeepAlive=yes" \
    -N -R 2222:localhost:22 \
    root@yunus.top

Restart=always
RestartSec=30
Environment=AUTOSSH_GATETIME=5

[Install]
WantedBy=default.target
