# 显示噐示例配置
# output eDP-1 res 2880x1800 pos 0 0 scale 2
# output DP-2 res 1920x1080 pos -1920 -180 scale 1
#
# 锁定桌面
# OpenGL 版本高的版本使用 hypridle + hyprlock
#bindsym $mod+shift+q exec 'hyprlock'
#exec "hypridle -c ~/.config/sway/hypridle.conf"
# OpenGL 低的版本使用 swayidle + swaylock 替代
#bindsym $mod+shift+q exec 'swaylock  --screenshots  --clock --indicator  --indicator-radius 100  --indicator-thickness 7  --effect-blur 7x5  --effect-vignette 0.5:0.5  --ring-color bb00cc  --key-hl-color 880033  --line-color 00000000  --inside-color 00000088  --separator-color 00000000'
#exec swayidle -w timeout 300 'swaylock  --screenshots  --clock --indicator  --indicator-radius 100  --indicator-thickness 7  --effect-blur 7x5  --effect-vignette 0.5:0.5  --ring-color bb00cc  --key-hl-color 880033  --line-color 00000000  --inside-color 00000088  --separator-color 00000000  --grace 2  --fade-in 0.2' timeout 600 'swaymsg "output * power off"' resume 'swaymsg "output * power on"'

