# 显示器配置

#monitor=eDP-1,2880x1800,0x0,auto
#monitor=DP-2,1920x1080,-1920x-180,auto
#
#xwayland {
#    force_zero_scaling = true
#}

# 工作区配置
#workspace = 1, monitor:DP-2, default:true
#workspace = 2, monitor:DP-2
#workspace = 3, monitor:DP-2
#workspace = 4, monitor:DP-2
#workspace = 5, monitor:DP-2
#workspace = 5, monitor:eDP-1, default:true
#workspace = 6, monitor:eDP-1
#workspace = 7, monitor:eDP-1
#workspace = 8, monitor:eDP-1
#workspace = 9, monitor:eDP-1
#workspace = 0, monitor:eDP-1
